/* LoginForm.css */
 
 
.login-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 15cm; /* Subtract heading height from viewport height */
    padding-top: 60px; /* Add space between heading and login form */
    background-color: white;
  }
 
 
  .login-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
  }
 
  .login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
 
  .login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
 
  .login-form button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
 
  .login-form button:hover {
    background-color: #45a049;
  }